<?xml version="1.0" ?>

<launch>
    <!-- DO NOT USE ARMSIM with this launch file! will conflict in control! -->
    <!-- ONLY using ROS's joint_state_publisher, robot_state_publisher to control the robot -->
    <arg name="gui" default="False" />
    <param name="robot_description" type="str" textfile="$(find gambit_driver)/urdf/gambit.urdf"/>
    <group ns="arm">
        <!-- joint_state_publisher will add arm/joint_states -->
        <param name="use_gui" value="$(arg gui)"/>
        <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher">
		    <remap from="joint_states" to="ros_joint_state"/>
        </node>
        <node pkg="robot_state_publisher" type="state_publisher" name="arm_state_pub">
            <remap from="joint_states" to="ros_joint_state"/>
        </node>
    </group>
</launch>
