<?xml version="1.0"?>

<launch>

    <!-- <include file="$(find armsim)/launch/arm_sim.launch" /> -->
	<!-- static_transform_publishers -->
	<!-- updated on 2013.06.01 -->
    <node pkg="tf" type="static_transform_publisher" name="table_plane_broadcaster" args="0.135143 0.260043 0.802828 -0.020856 0.541465 -0.106253 0.833721 /table_plane /camera_link 100" />
    <!-- <group ns="arm"> -->
	<node pkg="gambit_manip" type="pickNplace_push_manip" name="pickNplace_push_manip_node" args="b" output="screen"/>
	<!-- </group> -->

</launch>