<launch>
  <arg name="use_robotarm" default="true" />

  <node name="gambit_kinect_arm_calibration" pkg="gambit_kinect_arm_calibration" type="calibrate_kinect_checkerboard" output="screen">

  	<!-- "turtlebot_kinect_arm_calibration" style adjustment -->
    <param if="$(arg use_robotarm)" name="gripper_tip_x" value="0.065" />
    <param if="$(arg use_robotarm)" name="gripper_tip_y" value="0.019" />
    <param if="$(arg use_robotarm)" name="gripper_tip_z" value="0" />

    <!-- -0.0845 + 0.35 + 0.032 + 0.027 {base + ruler + paper_margin + grid_size} -->
    <param unless="$(arg use_robotarm)" name="offset_from_fixed_x" value="-0.012" />
    <!-- -0.0845 + 0.018 + 0.027 - 0.02 {base + paper_margin + grid_size + hack} -->
    <param unless="$(arg use_robotarm)" name="offset_from_fixed_y" value="-0.0185" />
    <!-- -0.006 {board_to_base} -->
    <param unless="$(arg use_robotarm)" name="offset_from_fixed_z" value="0.058" />
    <param if="$(arg use_robotarm)" name="use_robotarm" value="true"/>
  </node>

  <node name="checkerboard_image_view" pkg="image_view" type="image_view">
    <remap from="image" to="/gambit_kinect_arm_calibration/calibration_pattern_out" />
    <param name="autosize" value="true" />
  </node>
</launch>
